<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    ">

	<!-- Spring stuff -->
	<context:component-scan base-package="name.felixbecker.hornetq" />
	<tx:annotation-driven transaction-manager="JtaTransactionManager" />
	
	<!-- HornetQ InMemory Connector -->
	<bean id="hornetQSessionFactory" class="name.felixbecker.hornetq.HornetQClientSessionFactory" destroy-method="destroy" />

	<!-- Atomikos / JTA stuff -->
	
	<bean id="AtomikosTransactionManager" class="com.atomikos.icatch.jta.UserTransactionManager" init-method="init" destroy-method="close">
		<!-- todo clarification required what this trigger does -->
		<property name="forceShutdown" value="false" />
	</bean>

	<bean id="AtomikosUserTransaction" class="com.atomikos.icatch.jta.UserTransactionImp">
		<property name="transactionTimeout" value="300" />
	</bean>

	<bean id="JtaTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="transactionManager" ref="AtomikosTransactionManager" />
		<property name="userTransaction" ref="AtomikosUserTransaction" />
	</bean>

	<!-- hibernate datasource and session factory -->
	
	<bean id="datasource" class="com.atomikos.jdbc.AtomikosDataSourceBean"
		init-method="init" destroy-method="close">
		<property name="uniqueResourceName">
			<value>h2XA</value>
		</property>
		<property name="xaDataSourceClassName">
			<value>org.h2.jdbcx.JdbcDataSource</value>
		</property>
		<property name="xaProperties">
			<props>
				<prop key="user">sa</prop>
				<prop key="password"></prop>
				<prop key="URL">jdbc:h2:mem:test;LOCK_MODE=1;MVCC=TRUE;DB_CLOSE_DELAY=-1
				</prop>
			</props>
		</property>
		<property name="minPoolSize">
			<value>10</value>
		</property>
		<property name="maxPoolSize">
			<value>300</value>
		</property>
	</bean>
	
	<bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="datasource" />
		<property name="jtaTransactionManager" ref="JtaTransactionManager" />
		<property name="annotatedClasses">
			<list>
				<value>name.felixbecker.hornetq.entities.SampleEntity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.H2Dialect
				hibernate.hbm2ddl.auto=create
			</value>
		</property>
	</bean>

</beans>